---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Post from '../components/PostPreview.svelte';
import Languages from '../components/Languages.svelte';

import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";

const allLocaleClient = contentfulClient.withAllLocales;

const blogs = await allLocaleClient.getEntries<BlogPost>({
	content_type: "blogPost"
});

const posts = blogs.items.map((item) => {
//   const { title, date, description, slug, feature_image} = item.fields;
  return {
    title: item.fields.title,
    slug: item.fields.slug,
    description: item.fields.description,
    // date: new Date(date).toLocaleDateString(),
	date: item.fields.date,
	featureImage: item.fields.featureImage,
  };
});

---

<BaseLayout
	title="My Blog | Zaki Zakaria"
	description="Learn about Jeanine White's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Languages  client:only="svelte" />
			<Hero
				title="My Blog"
				tagline="Sharing my knowledge and experiences"
				align="start"
			/>
			<Grid variant="offset">
				{
					posts.map((post) => (
						<li>
							<Post client:only="svelte" post={post}/>
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
